<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>582389618154-al0c5cap5htd167umnkc1fq2e0uoibg6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.582389618154-al0c5cap5htd167umnkc1fq2e0uoibg6</string>
	<key>API_KEY</key>
	<string>AIzaSyDKg__61UUxEz4CdDULrr1Om_n4SQDZOlw</string>
	<key>GCM_SENDER_ID</key>
	<string>582389618154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ITI.Aqark</string>
	<key>PROJECT_ID</key>
	<string>aqark-cd095</string>
	<key>STORAGE_BUCKET</key>
	<string>aqark-cd095.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:582389618154:ios:871a30438c4c86e8300e93</string>
	<key>DATABASE_URL</key>
	<string>https://aqark-cd095.firebaseio.com</string>
</dict>
</plist>
